.mainHeader {
	background-color: #001529;
	width: 100%;
	color: white;
}

.centeredMainHeader {
	display: flex;
	margin-block: 15px;
	justify-content: space-between;
	vertical-align: center;
	flex-wrap: wrap;
}

.headerColumnRight {
	margin: auto 15px;
}

.logoContainer {
	display: flex;
	vertical-align: center;
	gap: 15px;
	margin-left: 15px;
	font-size: larger;
	font-family: "ALSGorizont", Golos, sans-serif;
	font-weight: bold;
}

.logoContainer h1 {
	margin-block: 10px;
}

.logoContainer > img {
	margin-block: auto;
	height: 50px;
	width: auto;
}

.pishLogo {
	height: 35px;
	width: auto;
	margin-right: 50px;
}